body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-inline label{
  justify-content: flex-start !important;
}

.weight, .shipping-option {
  text-align: center;
}

.shipping-option span {
  color: #ff0000;
}

.weight span {
  color: #ff0000;
}

.progress {
  border-radius: 10px !important;
  height: initial !important;
}

.progress progress {
  background-color: red;
  padding: 0;
}